.searchWrapper {
  .input {
    background: #E5E7EB;
    border-radius: 6.25rem;
    padding: 1.125rem;
    width: 18.75rem;
    border: none;
    margin: 0 0.313rem;

    &:focus {
      border: none;
      outline: none;
    }
  }
}